.page-id-29 .post-thumbnail {
  img {
    object-fit: cover;
    max-height: 45rem;
    // opacity: 0.4;
  }
}

.post-29#post-29 {
  position: relative;
  .entry-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    // color: $dark_blue;
  }
}

.page-id-29 h2 {
  text-align: center;
  font-size: 2rem;
}

.wpforms-container.wpforms-container-full {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}

.wpforms-submit#wpforms-submit-94 {
  width: 100%;
}
#wpforms-94-field_0,
#wpforms-94-field_0-last,
#wpforms-94-field_1,
#wpforms-94-field_2,
#wpforms-submit-94 {
  border-radius: 5px;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 60rem;
  padding: 1rem;
  margin: 2rem auto;
  align-items: center;
  font-size: 0.75rem;
  div {
    max-width: 9rem;
    display: inline-block;
    h3 {
      margin: 0;
    }
  }
}

// @media (min-width: $desktop) {
//   .wpforms-field-container {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//     gap: 0px 10px;
//     grid-template-areas:
//       "name message"
//       "email message";
//   }
//   // .wpforms-field-row-block.wpforms-first.wpforms-one-half {
//   //   grid-area: firstName;
//   //   // padding: 0;
//   // }
//   // .wpforms-field-row-block.wpforms-one-half {
//   //   grid-area: lastName;
//   //   // padding: 0;
//   // }
//   .wpforms-field-row.wpforms-field-large {
//     grid-area: name;
//     // padding: 0;
//   }
//   #wpforms-94-field_1-container {
//     grid-area: email;
//     // padding: 0
//   }
//   #wpforms-94-field_2-container {
//     grid-area: message;
//     // padding: 0;
//   }
// }
