.site-header {

    z-index: 99;
    position: absolute;
    
    img {
        width: 7rem;
        z-index: 100;
    }

    @media screen and (min-width: 37.5em) {
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
    }
}