.site-header {

    z-index: 99;
    position: absolute;

    a {
        position: relative;
        z-index: 100000000;
    }
    
    img {
        width: 4rem;
        z-index: 100;
    }

    @media screen and (min-width: 37.5em) {
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        background: $dark_blue;

        a {
            color: white;
        }

        img {
            width: 5rem;
        }
    }
}