.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

//google maps styling
//google map styling for footer is in _footer.scss
.acf-map {
  width: 100%;
  max-width: 58rem;
  height: 400px;
  border: #ccc solid 1px;
  margin: 0 auto;
}

// Fixes potential theme css conflict.
.acf-map img {
  max-width: inherit !important;
}

#sb_instagram {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}
