a {
	color: $color__link;

	&:visited {
		color: $dark_blue;
	}

	&:hover,
	&:focus,
	&:active {
		color: $dark_blue;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
